<nav class="navbar">
	<div class="navbar-container">
		<div class="navbar-brand">
			<a href="../index.html">
				<img src="../assets/dogus.png" alt="University Logo" class="navbar-logo">
				<span>GDG On Campus</span>
			</a>
		</div>
		<ul class="navbar-menu">
			<li><a href="../index.html">Home</a></li>
			<li><a href="../pages/events.html">Events</a></li>
			<li><a href="../pages/team.html">Team</a></li>
			<li><a href="../pages/blog.html">Blog</a></li>
			<li><a href="../pages/contact.html">Contact</a></li>
		</ul>
		<div class="navbar-toggle">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</nav>